/* child on sidedbar */
.sidebar-menu>li.dropdown ul.dropdown-menu {
    padding-left: 55px !important;
}

/* sidebar icon */
.sidebar-menu>li>a {
    margin: 10px 0;
}
.is-collapsed .sidebar-menu>li>a .icon-holder {
    width: 25px !important;
}
.sidebar-menu>li>a .icon-holder {
    height: 25px !important;
    line-height: 25px !important;
}
.sidebar-menu li.dropdown .arrow {
    line-height: 25px !important;
}
.is-collapsed .sidebar-menu>li>a .icon-holder i {
    /* font-size: 14px !important; */
}

.sidebar-menu>li>a {
    font-weight: 400 !important;
}
.sidebar-menu li.dropdown.open>a {
    color: #72777a !important;
    /* font-weight: 500 !important; */
}

.sidebar-menu>li.dropdown ul.dropdown-menu>li>a {
    padding: 5px 15px !important;
    /* margin: 5px 0; */
    margin-bottom: 10px;
}
.sidebar-menu>li.dropdown ul.dropdown-menu>li:last-child>a {
    margin-bottom: 0px;
}
.sidebar-menu li.actived {
    border-right: 2px solid #00CAE8;
}
/* custom on minify */
.is-collapsed .sidebar-menu li.dropdown.open > a { 
    border: none;
}
.sidebar-menu li.dropdown.open > a {
    /* border-right: 2px solid #00CAE8; */
}

.sidebar-menu li.actived a {
    color: #313435 !important;
    font-weight: 600 !important;
}
.sidebar-menu>li.dropdown ul.dropdown-menu>li.actived a {
    color: #313435;
}

/* button */
.btn {
    border-radius: 24px !important;
    padding: .375rem 1.5rem !important;
}
.btn.btn-default {
    outline: none;
    padding: .375rem !important;
}
.btn-outline-primary {
    color: #00CAE8 !important;
    border-color: #00CAE8 !important;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(44,44,44,.1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(44,44,44,.1);
    box-shadow: 0px 2px 4px 0px rgba(44,44,44,.1);
}
.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #00D6F4 !important;
    border-color: #00D6F4 !important;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(44,44,44,.1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(44,44,44,.1);
    box-shadow: 0px 2px 4px 0px rgba(44,44,44,.1);
}
.btn-primary {
    background-color: #00CAE8 !important;
    border: #00CAE8 !important;
}
.btn-primary:hover {
    background-color: #00D6F4 !important;
    border: #00D6F4 !important;
}
.btn.focus, .btn:focus {
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.btn-disabled,
.btn.disabled, .btn:disabled {
    background-color: #ccc !important;
    border: #ccc !important;
    color: #72777a !important;
}
.btn-disabled:hover,
.btn.disabled:hover {
    background-color: #ccc !important;
    border: #ccc !important;
    color: #72777a !important;
}

/* wizard btn */
.btn-circle {
    border-radius: 50% !important;
    padding: 6px 0 !important;
}

/* pagination (with datatable) */
.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #00CAE8 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 24px !important;
    cursor: pointer;
}

/* table (normal table)*/
.table td {
    padding: 1.25rem .75rem !important;
    padding: 1rem .75rem !important;
    border: none !important;
}
.table th {
    padding: .75rem !important;
    border: none !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ecf1f6 !important;
}
/* tabel search & pagination (background) */
.tbl-search, 
.tbl-pagination {
    /* background-color: #00CAE8; */
    /* background: rgb(0,201,231);
    background: linear-gradient(150deg, rgba(0,201,231,1) 0%, rgba(17,191,131,1) 200%);
    color: #fff; */
}
/* custom pagination (without datatable) */
.tbl-pagination .pagination-limit {
    background-color: #ecf1f6;
    border: none;
    border-radius: 6px;
    padding: 5px;
    margin-right: 5px;
}
.tbl-pagination .pagination-status {
    /* color: #fff; */
    font-size: 12px;
}
.tbl-pagination .pagination .page-link {
    border: none;
    border-radius: 24px !important;
    color: #464e5f;

    font-size: 12px;
    margin-right: 5px;
}
.tbl-pagination .pagination .page-item:last-child .page-link {
    margin-right: 0;
}
.tbl-pagination .pagination .page-link:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.tbl-pagination .pagination .page-item.active .page-link {
    background-color: #00CAE8 !important;
    color: #fff;
    font-weight: 500;
}
/* custom width table*/
.tbl-date {
    min-width: 145px;
}
.tbl-star {
    min-width: 105px;
}
.tbl-truncate {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.page-item .page-link {
    /* background-color: #ecf1f6 !important; */
}
.page-item .page-link:hover {
    /* background-color: #fff !important; */
}


/* SIGN IN */
.bg-signin {
    /* background-image: url("assets/static/images/bg.jpg"); */
    background-color: #00CAE8;
    background: rgb(0,201,231);
    background: linear-gradient(150deg, rgba(0,201,231,1) 0%, rgba(17,191,131,1) 200%);
    color: #fff;
}
.signin-ornament-top {
    background: url("../img/ornament_top.png") no-repeat top right;
    width: 278px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
}
.signin-ornament-bottom {
    background: url("../img/ornament_bottom.png") no-repeat bottom left;
    width: 146px;
    height: 160px;
    position: absolute;
    bottom: 0;
    left: 0;  
}
.signin-logo {
    width: 215px;
}

/* star icon */
.fa-star {
    color: #BEBEBE;
}
.checked {
    color: orange;
}

/* popup response */
.message-head {
    background: #ecf1f6;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.message-head p {
    margin-bottom: 0;
}

/* card (layers) */
.layers {
    border-radius: 8px;
    -webkit-box-shadow: 0 0 3px 0 rgba(82,63,105,.05);
    box-shadow: 0 0 3px 0 rgba(82,63,105,.05);
}
.layers-ribbon {
    position: absolute;
    top: 0;
    right: 20px;
    background: #e9edf1;
    padding: 12px 20px;
    border-radius: 0 0 8px 8px;
}

.main-content {
    min-height: 100vh !important;
}

/* colors */
.color-brand {
    color: #00CAE8 !important;
}
.color-dark {
    color: #313435;
}

/* Custom Datatable */
.dataTables_wrapper .dataTables_info {
    clear: none;
    padding-top: 7px;
    font-size: 12px;
}

.dataTables_wrapper .dataTables_length select {
    background-color: #ecf1f6;
    border: none !important;
    border-radius: 6px !important;
    color: black !important;
    height: auto !important;
    margin-right: 10px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 5px 11px !important;
    border: none !important;
    margin-right: 5px !important;
}

/* Change color sorting datatable */
.js-datatable thead th {
    position: relative;
    background-image: none !important;
}
  
.js-datatable thead th.sorting:after,
.js-datatable thead th.sorting_asc:after,
.js-datatable thead th.sorting_desc:after {
    position: absolute !important;
    top: 12px !important;
    right: 8px !important;
    display: block !important;
    font-family: FontAwesome !important;
}
.js-datatable thead th.sorting:after {
    content: "" !important;
    color: #ddd !important;
    font-size: 0.8em !important;
    padding-top: 0.12em !important;
}
.js-datatable thead th.sorting_asc:after {
    content: "\f0de" !important;
    color: #00CAE8;
}
.js-datatable thead th.sorting_desc:after {
    content: "\f0dd" !important;
    color: #00CAE8;
}

/* border-radius */
.bradius {
    border-radius: 8px;
}
.bradius-top {
    border-radius: 8px 8px 0 0;
}
.bradius-bottom {
    border-radius: 0 0 8px 8px;
}

/* widget */
.widget-head {
    background-color: #00CAE8;
    background: rgb(0,201,231);
    background: linear-gradient(150deg, rgba(0,201,231,1) 0%, rgba(17,191,131,1) 200%);
    color: #fff;
}
.widget-icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #f3f6f9;
    color: #80808f;
}

/* ---- RESPONSIVE ----- */
@media screen and (max-width: 767px) {
    /* notifikasi */
    .header .header-container .nav-left .notifications .dropdown-menu, 
    .header .header-container .nav-right .notifications .dropdown-menu {
        right: -120px !important;
    }

    /* table padding */
    .table th,
    .table td {
        padding: .75rem !important;
    }
    .table td {
        font-size: .75rem;
    }
    /* table margin bottom */
    table.dataTable {
        margin-bottom: 10px !important;
    }
    /* table pagination */
    .dataTables_wrapper .dataTables_paginate {
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }
    .tbl-pagination .pagination {
        margin-top: 10px;
    }

    /* ----- Login ----- */
    .bg-signin {
        max-height: 100px;
        overflow: hidden;
    }
    .signin-ornament-top {
        background-size: 100%;
        width: 85px;
        height: 85px;
    }
    .signin-ornament-bottom {
        background-size: 100%;
        width: 60px;
        height: 60px;
    }
    .signin-logo {
        width: 160px;
    }
}