/* child on sidedbar */
.sidebar-menu>li.dropdown ul.dropdown-menu {
    padding-left: 55px !important;
}

/* sidebar icon */
.sidebar-menu>li>a {
    margin: 10px 0;
}
.is-collapsed .sidebar-menu>li>a .icon-holder {
    width: 25px !important;
}
.sidebar-menu>li>a .icon-holder {
    height: 25px !important;
    line-height: 25px !important;
}
.sidebar-menu li.dropdown .arrow {
    line-height: 25px !important;
}
.is-collapsed .sidebar-menu>li>a .icon-holder i {
    /* font-size: 14px !important; */
}

.sidebar-menu>li>a {
    font-weight: 400 !important;
}
.sidebar-menu li.dropdown.open>a {
    color: #72777a !important;
    /* font-weight: 500 !important; */
}

.sidebar-menu>li.dropdown ul.dropdown-menu>li>a {
    padding: 5px 15px !important;
    margin: 5px 0;
}
.sidebar-menu li.actived {
    border-right: 2px solid #00CAE8;
}
/* custom on minify */
.is-collapsed .sidebar-menu li.dropdown.open > a { 
    border: none;
}
.sidebar-menu li.dropdown.open > a {
    border-right: 2px solid #00CAE8;
}

.sidebar-menu li.actived a {
    color: #313435 !important;
    font-weight: 600 !important;
}
.sidebar-menu>li.dropdown ul.dropdown-menu>li.actived a {
    color: #313435;
}

/* button */
.btn {
    border-radius: 24px !important;
    padding: .375rem 1.5rem !important;
}
.btn-primary {
    background-color: #00CAE8 !important;
    border: none !important;

    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}

/* pagination (with datatable) */
.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #00CAE8 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 24px !important;
    cursor: pointer;
}

/* table (normal table)*/
.table td {
    padding: 1.25rem .75rem !important;
    border: none !important;
}
.table th {
    padding: .75rem !important;
    border: none !important;
}
/* tabel search & pagination (background) */
.tbl-search, 
.tbl-pagination {
    /* background-color: #00CAE8; */
    background: rgb(0,201,231);
    background: linear-gradient(150deg, rgba(0,201,231,1) 0%, rgba(17,191,131,1) 200%);
    color: #fff;
}
/* custom pagination (without datatable) */
.tbl-pagination .pagination-limit {
    background-color: #ecf1f6;
    border: none;
    border-radius: 6px;
    padding: 5px;
    margin-right: 5px;
}
.tbl-pagination .pagination-status {
    color: #fff;
    font-size: 12px;
}
.tbl-pagination .pagination .page-link {
    border: none;
    border-radius: 24px !important;
    color: #464e5f;

    font-size: 12px;
    margin-right: 5px;
}
.tbl-pagination .pagination .page-item:last-child .page-link {
    margin-right: 0;
}
.tbl-pagination .pagination .page-link:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.tbl-pagination .pagination .page-item.active .page-link {
    background-color: #00CAE8 !important;
    color: #fff;
    font-weight: 500;
}
.page-item .page-link {
    background-color: #ecf1f6 !important;
}
.page-item .page-link:hover {
    background-color: #fff !important;
}


/* ---- RESPONSIVE ----- */
@media screen and (max-width: 767px) {
    /* notifikasi */
    .header .header-container .nav-left .notifications .dropdown-menu, 
    .header .header-container .nav-right .notifications .dropdown-menu {
        right: -120px !important;
    }

    /* table margin bottom */
    table.dataTable {
        margin-bottom: 10px !important;
    }
    /* table pagination */
    .dataTables_wrapper .dataTables_paginate {
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }
    .tbl-pagination .pagination {
        margin-top: 10px;
    }
}